#mw-navigation #mw-head {
  top: 40px;
}

.skin-umass div#content {
  margin-top: 39px;
}

#mw-panel #p-logo {
  margin-top: 40px;
}

#mw-navigation #mw-panel.collapsible-nav .portal.first {
  margin-top: 40px;
}

.headroom {
  -webkit-transition: -webkit-transform 200ms linear;
  -moz-transition: -moz-transform 200ms linear;
  -ms-transition: -ms-transform 200ms linear;
  -o-transition: -o-transform 200ms linear;
  transition: transform 200ms linear;
}

.headroom--pinned {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}

.headroom--unpinned {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}

#topbanner {
  position: fixed;
  top: 0;
  margin: 0;
  text-align: right;
  padding: 8px 15px;
  background-color: #881c1c;
  width: 100%;
  z-index: 110;
}

#topbanner a img{
  width: 146px;
  float: left;
  border: 0;
}

#topbanner form{
  margin: 0;
  padding: 0 25px;
  font-size: 11px;
}

#topbanner form #q{
  padding-left: 2px;
}

#umass-footer{
  background: black;
  color: #BBB;
  height: 40px;
  padding: 0.5em 0;
}

#umass-footer p{
  font-size: 90%;
  text-align: center;
}

#umass-footer a:hover {
  border-color:#881c1c;
}

#umass-footer a {
  color: #BBB;
  border-bottom:1px solid #BBB;
  text-decoration:none;
}
